@font-face {
  font-family: 'Playfair Display';
  src: url('/src/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf')
    format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/src/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

/* Основной фон */
.bg-wrap {
  min-height: 100svh;
  background-image: url(/public/background-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(1.02) saturate(1.02);
}
